# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
.nyc_output

# production
client/dist
server/dist

# misc
.DS_Store
.vscode
.idea
.env
*.log
