.tasksList-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 20px;
  background-color: white;
  padding: 20px;
  box-shadow: var(--shadow-elevation-2dp);
  max-height: calc(100% - 70px);
}

.tasksList-container .tasksList-header {
  padding-bottom: 15px;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.tasksList-container .tasksList-header .tasksList-title {
  flex: 1;
}

.tasksList-container .tasksList-header .completionDiv {
  cursor: default;
}

.tasksList-container .tasksList-header .newTaskButton {
  margin-left: 10px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(234, 237, 242, 0); /* #eaedf2 */
  transition: var(--hover-transition);
}

.tasksList-container .tasksList-header .newTaskButton:hover {
  color: white;
  background-color: cornflowerblue;
}

.tasksList-container .task-list {
  position: relative;
  list-style-type: none;
  transition: var(--hover-transition);
  overflow-y: auto;
  overflow-x: hidden;
}

.tasksList-container .task-list::-webkit-scrollbar {
  width: 8px;
}

.tasksList-container .task-list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: linear-gradient(180deg, cornflowerblue, white);
}

.tasksList-container .task-list::-webkit-scrollbar-track {
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

.tasksList-container .task-list .task {
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid rgba(150,150,150,0.5);
  border-top: 1px solid rgba(150,150,150,0.5);
  padding: 5px;
  transition: var(--hover-transition);
  opacity: 0.5;
}

.tasksList-container .task-list .task:hover,
.tasksList-container .task-list .task.active {
  cursor: pointer;
  background-color: #E1F5FE;
  opacity: 1 !important;
  border-bottom-color: CornFlowerBlue !important;
  border-top-color: CornFlowerBlue !important;
}

.tasksList-container .task-list .task .statusCheckbox {
  display: flex;
  color: limegreen;
}

.tasksList-container .task-list .task .taskContent {
  flex: 1;
  margin: 0 15px;
  border: none;
}

.tasksList-container .task-list .task .taskContent[readonly] {
  cursor: pointer;
  background-color: transparent;
}

.tasksList-container .task-list .task .taskContent:not([readonly]):focus {
  cursor: default;
  background-color: white;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
}

.tasksList-container .task-list .actionsBox {
  display: none;
  position: absolute;
  background-color: transparent;
  right: 0;
  z-index: 1;
}

.tasksList-container .task-list .actionsBox button {
  margin: 0 5px;
  border-radius: 50%;
  transition: var(--hover-transition);
  opacity: 0;
  height: 26px;
  width: 26px;
}

.tasksList-container .task-list .actionsBox button i {
  font-size: 20px;
}

.tasksList-container .task-list .actionsBox button {
  opacity: 1;
}

.tasksList-container .task-list .actionsBox button:hover {
  color: white;
}

.tasksList-container .task-list .actionsBox button.edit:hover {
  background-color: cornflowerblue;
}

.tasksList-container .task-list .actionsBox button.remove:hover {
  background-color: orangered;
}

.strike {
  text-decoration: line-through;
}

.hideCheckbox {
  visibility: hidden;
}
