input {
  font-family: 'Raleway', sans-serif;
}

.task-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
}

.task-container .task-group-header {
  padding: 15px;
  padding-right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.task-container .task-group-header .task-group-title {
  flex: 1;
}

.task-container .task-group-header .completionDiv {
  cursor: default;
}

.task-container .task-group-header .actionsMenuButton {
  display: flex;
  position: relative;
  margin-left: 10px;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(221, 221, 221, 0);
  transition: all 250ms linear;
}

.task-container .task-group-header .actionsMenuButton:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(221, 221, 221, 1);
}

.task-container .task-group-header .actionsMenuButton .actionsMenu {
  z-index: 1;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: rgb(150, 150, 150) 0px 4px 9px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 250ms, opacity 250ms linear; /* transitions does not work on display property */
}

.task-container .task-group-header .actionsMenuButton .actionsMenu button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: white;
  transition: all 250ms linear;
}

.task-container .task-group-header .actionsMenuButton .actionsMenu button:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.task-container .task-group-header .actionsMenuButton .actionsMenu button i {
  margin-right: 10px;
}

.task-container .task-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: all 250ms linear;
}

.task-container .task-list .task {
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid rgba(150,150,150,0.5);
  border-top: 1px solid rgba(150,150,150,0.5);
  padding: 5px;
  transition: all 500ms linear;
  opacity: 0.5;
}

.task-container .task-list .task:hover,
.task-container .task-list .task:focus {
  cursor: pointer;
  opacity: 1;
  transition: all 250ms linear;
  border-bottom-color: rgba(150,150,150,1);
  border-top-color: rgba(150,150,150,1);
}

.task-container .task-list .task .statusCheckbox {
  display: flex;
}

.task-container .task-list .task .taskContent {
  flex: 1;
  margin: 0 15px;
  padding: 5px;
  border: none;
}

.task-container .task-list .task .taskContent:read-only {
  cursor: pointer;
  background-color: transparent;
}

.task-container .task-list .task .taskContent:not(:read-only):focus {
  cursor: default;
  background-color: white;
  border: 1px solid blue;
  border-radius: 5px;
}

.task-container .task-list .task .actionsBox button {
  border: none;
  cursor: pointer;
  transition: all 250ms linear;
  opacity: 0;
}

.task-container .task-list .task:hover .actionsBox button {
  opacity: 0.5;
}

.task-container .task-list .task:hover .actionsBox button:hover {
  opacity: 1;
}

.strike {
  text-decoration: line-through;
}

.hide {
  visibility: hidden;
}
